extends layout.pug

block content
	main.content
		h1.form-title Add Quotes Form

		if success
			p.success Your note is added

		if error 
			p.error Your note was not added. Error occured!

		form.form(method='POST' action='/add')
			label.topic Topic of the Quote
			input.input(type='text' name='title')

			label.label Quote 
			textarea.input(rows='10' cols='8' name='description')

			button.btn Add the quote
