extends layout.pug

block content
	section#introSection
		div.introText This is a simple app to create and add meaningful quotes 
		a.featured(href='/add') Add a new quote

	section#cardSection
		div.card 
			h3 Thoughts
			div.card-box
				div.card-content
					p Our thoughts and opinion allows us to plan for the future and to reflect on the past.
						br
						| With so much in our mind, it is best to include them somewhere, such as this website.
						br
						| So go ahead and add your own quote to represenent your values, advice and more. Join the QuotesWorld today and become a reason to inspire someone. 
		


		h5 This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.