doctype html
html
	head
		title Notes
		link(rel='stylesheet' href='/static/main.css')

	body
		header.header 
			h1.logo 
				a(href='/') Notes
			nav.nav
				a(href='/notes') notes
				a(href='/archive') archive

		block content 