doctype html
html
	head
		title Quotes
		link(rel='stylesheet' href='/static/main.css')

	body
		header.header 
			h1.logo 
				a(href='/') Quotes
			nav.nav
				a(href='/quotes') QUOTES
				a(href='/archive') ARCHIVE

		block content 