extends layout.pug

block content
	main.content
		h1.quote-title All quotes

		if id 
			p.success Quote with id #{ id } is deleted! 
			
		each value in quotes
			div.quote-wrapper 
				a.quote(href=`/quotes/${ value.id }`)= value.title
				a.delete(href=`/quotes/${ value.id }/delete`) Delete
