extends layout.pug

block content
	main.content
		h1.quote-title All Quotes

		each quote in quoteList
			div.quote-wrapper 
				a.quote(href=`/quotes/${ quote.id }`)= quote.title
				a.delete(href='#') Delete


