:root {
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #444;
}

.content,
.header {
	max-width: 1500px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	border-top: 2px solid #ccc;
	border-bottom: 3px solid #ccc;
	background-color: #F0F0F0;
}

.logo {
	display: flex;
	align-items: center;
	margin: 0 15px;
	padding-left: 450px;
	font-size: 3rem;
}

.logo > a {
	color: navy;
}

.logo > a:hover {
	color: blue;
}

.nav > a {
	display: inline-block;
	padding: 12px 15px;
	font-size: 1.5rem;
	border-radius: 5px;
	margin: 5px 15px;
	border: 1px solid blue;
	background: white;
	color: navy;
}

.nav > a:hover {
	color: blue;
}

/* Homepage Styles */
#introSection {
	margin: 0 auto;
	padding: 70px 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 425px;
	font-size: 3.5rem;
	color: white;
	background-color: rgba(11,38,71,.87);
}

.introText {
	font: 3.5rem sans-serif;
}

.featured {
	display: inline-block;
	margin: 15px 0 0 20px;
	padding: 15px 15px;
	border: 3px solid aqua;
	border-radius: 5px;
	background: white;
	color: navy;
	font-size: 1.5rem;
}

#cardSection {
	height: 400px;; 
    width: 67%;
    margin: auto;
    align-content: center;

}

.card {
    display: inline-block;
    border: 2px solid navy;
    border-radius: 15px;
    width: 80%;
    margin: 70px 70px;
    height: 300px;
}

.card h3 {
    text-align: center;
    margin: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial;
    font-style: italic;
    color: white;
    padding: 5px 10px;
    background-color: navy;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-content {
    padding: 0 20px;
    color: navy;
    background-color: #F0F0F0;
}

.card-content p {
    font-size: 25px;
    margin: 10px;
}

/* Add Quote */
.form {
	max-width: 50%;
	padding: 20px;
}

.form-title {
	padding: 15px;
	color: navy;
}

.form > label {
	display: block;
	font-size: 1.3rem;
	margin: 8px 0 10px 0;
	color: blue;
}

.input {
	width: 100%;
	padding: 10px;
	border: 2px solid #ccc;
	font-size: 1.3rem;
	background-color: #F0F0F0;
}

.btn {
	display: inline-block;
	background: aqua;
	color: black;
	margin-top: 15px;
	font-size: 1.1rem;
	padding: 8px 20px;
	border: none;
	border: 1px solid blue;
}

.success {
	display: inline-block;
	margin-top: 20px;
	background: lightgreen;
	margin-left: 20px;
	padding: 10px;
	border: 1px solid green;
	color: green;
	font-size: 1.2rem;
}

.error {
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px;
	border: 1.5px black;
	color: red;
	background: pink;
	font-size: 1.2rem;
}

/* Quotes Page */
.quote-title {
	margin: 30px;
	color: navy;
	text-decoration: underline;
}
.quote-wrapper {
	max-width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid #ccc;
}

.quote {
	display: inline-block;
	padding: 10px;
	font-size: 1.5rem;
}

.delete {
	display: inline-block;
	padding: 5px 10px;
	color: #black;
	background: aqua;
}

.delete:hover {
	color: #fff;
}

/*Detail Page*/
.quote-desc {
	color: blue;
	font-size: 3rem;
	text-align: center;
    margin: 60px 60px;
    padding: 70px 80px;
    background-color: aqua;
    border: 3px solid blue;
}