:root {
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	text-decoration: none;
	color: #444;
}

.content,
.header {
	max-width: 1000px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 1px solid #ccc;
}

.logo {
	padding-left: 20px;
	font-size: 3.5rem;
}

.logo > a:hover {
	color: violet;
}

.nav > a {
	display: inline-block;
	padding: 5px 15px;
	font-size: 1.5rem;
}

.nav > a:hover {
	color: navy;
}

/* Homepage Styles */
.content-title {
	margin-top: 130px;
	padding: 20px 0 0 20px;
	font-size: 3.5rem;
}

.featured {
	display: inline-block;
	margin: 15px 0 0 20px;
	padding: 20px 20px;
	background: aqua;
	color: black;
	font-size: 1.5rem;
}

/* Create Page Styles */
.form {
	max-width: 50%;
	padding: 20px;
}

.form-title {
	padding: 20px;
}

.form > label {
	display: block;
	font-size: 1.3rem;
	margin: 15px 0 5px 0;
}

.input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 1.3rem;
}

.btn {
	display: inline-block;
	background: aqua;
	color: black;
	margin-top: 15px;
	font-size: 1.3rem;
	padding: 10px 20px;
	border: none;
}

.success {
	display: inline-block;
	margin-top: 20px;
	background: lightgreen;
	margin-left: 20px;
	padding: 10px;
	border: 1px solid green;
	color: green;
	font-size: 1.2rem;
}

.error {
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px;
	border: 1.5px black;
	color: red;
	background: pink;
	font-size: 1.2rem;
}

/* Notes Page */
.quote-wrapper {
	max-width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;

}

.quote {
	display: inline-block;
	padding: 10px;
	font-size: 1.5rem;
	border-bottom: 1px solid #ccc;
}

.delete {
	display: inline-block;
	padding: 5px 10px;
	color: #black;
	background: aqua;
}

.delete:hover {
	color: #fff;
}

.topic {
	color: navy;
}

.label {
	color: purple;
}
