:root {
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	text-decoration: none;
	color: #444;
}

.content,
.header {
	max-width: 1000px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 1px solid #ccc;
}

.logo {
	display: flex;
	align-items: center;
	margin: 0 15px;
	padding-left: 300px;
	font-size: 3.5rem;
}

.logo > a:hover {
	color: blue;
}

.nav > a {
	display: inline-block;
	padding: 5px 15px;
	font-size: 1.5rem;
	text-decoration: underline;
}

.nav > a:hover {
	color: navy;
}

/* Homepage Styles */
#introSection {
	margin-top: 10px;
	padding: 70px 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 425px;
	font-size: 3.5rem;
	background: cover url("/public/images/flower.jpg") ;
}

.featured {
	display: inline-block;
	margin: 15px 0 0 20px;
	padding: 20px 20px;
	background: aqua;
	color: black;
	font-size: 1.5rem;
}

#imageSection {
	height: 326px;; 
    width: 67%;
    margin: auto;
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 209px;
}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-image{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
}

.card-image img{
    height: inherit;
    height: 131px; 
    padding: 0 14px;
}

.card-content{
    padding: 0 10px;
}

.card-content p{
    font-size: 19px;
}

/* Create Page Styles */
.form {
	max-width: 50%;
	padding: 20px;
}

.form-title {
	padding: 20px;
}

.form > label {
	display: block;
	font-size: 1.3rem;
	margin: 15px 0 5px 0;
}

.input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 1.3rem;
}

.btn {
	display: inline-block;
	background: aqua;
	color: black;
	margin-top: 15px;
	font-size: 1.3rem;
	padding: 10px 20px;
	border: none;
}

.success {
	display: inline-block;
	margin-top: 20px;
	background: lightgreen;
	margin-left: 20px;
	padding: 10px;
	border: 1px solid green;
	color: green;
	font-size: 1.2rem;
}

.error {
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px;
	border: 1.5px black;
	color: red;
	background: pink;
	font-size: 1.2rem;
}

/* Quotes Page */
.quote-title {
	margin: 30px;
	color: navy;
}
.quote-wrapper {
	max-width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;

}

.quote {
	display: inline-block;
	padding: 10px;
	font-size: 1.5rem;
	border-bottom: 1px solid #ccc;
}

.delete {
	display: inline-block;
	padding: 5px 10px;
	color: #black;
	background: aqua;
}

.delete:hover {
	color: #fff;
}

.topic {
	color: navy;
}

.label {
	color: purple;
}
